
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.player-container{
	display: flex;
	justify-content: center;
}
.player{
	width: 800px; 
	height: 600px;
	box-shadow: 0 0 15px rgba(0,0,0,0.9);
	display: flex;
	flex-direction: column;
}
.player-dispaly{
	width: 100%;
	flex-grow:2;
} 
.player-controls{
	background-color: #000;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap:2px;
}
.player-controls-block{
	display: flex;
	align-items: center;
	column-gap:2px;
}
.player-controls-btn{
	width: 35px;
	height: 41px;
	border: none;
	cursor:pointer;
	transition: .3s;
	background-color: transparent;
	color: rgb(255, 255, 255);
	text-align: center;
	flex-shrink:0;
	font-size: 18px;
}	
.player-btn-mute{font-size: 16px;}
.player-controls-timeline{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 2;
	color: #fff;
	column-gap:10px;
}
.player-progress{
	 flex-grow: 2;
	 display: flex;
	 align-items: center;
}
.player-progress-slider{
	height: 5px;
	border-radius: 6px;
	background-color: #f8104d;
}
.player-progress-thumb{
	width: 14px;
	height: 14px;
	border-radius:50px;
	background-color: #f8104d;
	border: 3px solid #fff;
	outline-offset: 1px;
	box-sizing: border-box;
	flex-shrink:0;
	display: inline-block;
	cursor:grab;
	margin-left: -4px;
}