.player-container{
	display: flex;
	justify-content: center;
}
.player{
	width: 800px; 
	height: 600px;
	box-shadow: 0 0 15px rgba(0,0,0,0.9);
	display: flex;
	flex-direction: column;
}
.player-dispaly{
	width: 100%;
	flex-grow:2;
} 
.player-controls{
	background-color: #000;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

.player-controls-btn{
	width: 35px;
	height: 40px;
	border: none;
	cursor:pointer;
	transition: .3s;
	background-color: transparent;
	color: rgb(150, 214, 23);
	font-size: 18px;
	line-height: 1.5;
	padding: 0;
	text-align: center;
}
.player-controls-btn +.player-controls-btn {margin-left: 3px;}
.player-controls-btn:last-child{
	margin-left: auto;
}