body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.flex-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.player-container{
	margin-top: 40px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.player{
	width: 800px; 
	height: 600px;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.9);
	        box-shadow: 0 0 15px rgba(0,0,0,0.9);

	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.player-dispaly{
	width: 100%;
	-webkit-box-flex:2;
	    -ms-flex-positive:2;
	        flex-grow:2;
} 
.player-controls{
	background-color: #000;
	-ms-flex-negative: 0;
	    flex-shrink: 0;

	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-column-gap:2px;
	   -moz-column-gap:2px;
	        column-gap:2px;
}
.player-controls-block{

	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-column-gap:2px;
	   -moz-column-gap:2px;
	        column-gap:2px;
}
.player-controls-btn{
	width: 35px;
	height: 41px;
	border: none;
	cursor:pointer;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	background-color: transparent;
	color: rgb(255, 255, 255);
	text-align: center;
	-ms-flex-negative:0;
	    flex-shrink:0;
	font-size: 18px;
	outline: none;
}	
.player-btn-mute{font-size: 16px;}
.player-controls-timeline{

	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-flex: 2;
	    -ms-flex-positive: 2;
	        flex-grow: 2;
	color: #fff;
	-webkit-column-gap:10px;
	   -moz-column-gap:10px;
	        column-gap:10px;
}
.player-progress{
	 -webkit-box-flex: 2;
	     -ms-flex-positive: 2;
	         flex-grow: 2;

	 -webkit-box-align: center;
	     -ms-flex-align: center;
	         align-items: center;
}
.player-progress-slider{
	height: 5px;
	border-radius: 6px;
	background-color: #f8104d;
}
.player-progress-thumb{
	width: 14px;
	height: 14px;
	border-radius:50px;
	background-color: #f8104d;
	border: 3px solid #fff;
	outline-offset: 1px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-ms-flex-negative:0;
	    flex-shrink:0;
	display: inline-block;
	/* cursor:-webkit-grab;
	cursor:grab; */
	margin-left: -4px;
	opacity: 0;
	-webkit-transition: opacity .3s ease-in;
	-o-transition: opacity .3s ease-in;
	transition: opacity .3s ease-in;
}
.player-progress:hover .player-progress-thumb{opacity: 1;}